
<body>

    <div class="container body-content">
        


<h2>@Html.ActionLink("Edit existing Program/Facility", "EditSites", "Edit")</h2>


<form action="/KuSites/Edit/4" method="post"><input name="__RequestVerificationToken" type="hidden" value="CeubvCi05SgmSdg0wV6oZr8ulBHpNiIudmuXc8A0_poOgmKcV5a-rTxLT3rK0wu0nl5Q-CyqlbWHcPRP3f1zWyZ33nDWPa115G5NixA4LaYAU9eD1aa-ATGaAMQJkxwE0" />    <div class="form-horizontal">
        <h4>Edit existing Program/Facility Site</h4>
        <hr />
        
        <input data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." id="Id" name="Id" type="hidden" value="4" />

        <div class="form-group">
            <label class="control-label col-md-2" for="Name">Facility Name</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-maxlength="The field Facility Name must be a string or array type with a maximum length of &#39;255&#39;." data-val-maxlength-max="255" data-val-minlength="The field Facility Name must be a string or array type with a minimum length of &#39;5&#39;." data-val-minlength-min="5" data-val-required="The Facility Name field is required." id="Name" name="Name" type="text" value="Park9690" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
            </div>
        </div>

        

        <div class="form-group">
            <label class="control-label col-md-2" for="IsActive">Active</label>
            <div class="col-md-10">
                <div class="checkbox">
                    <input checked="checked" class="check-box" data-val="true" data-val-required="The Active field is required." id="IsActive" name="IsActive" type="checkbox" value="true" /><input name="IsActive" type="hidden" value="false" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="IsActive" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a href="/KuSites">Back to List</a>
</div>


      
    </div>

    <script src="/bundles/jquery?v=FVs3ACwOLIVInrAl5sdzR2jrCDmVOWFbZMY6g6Q0ulE1"></script>

	<script src="/bundles/bootstrap?v=XFQ6ekRmUKkC5q116_4vvIKt0mhNOzNmfxA0NYVcPDY1"></script>

    <script src="/Scripts/jquery.bootstrap.wizard.min.js"></script>
    
    <script src="/bundles/jqueryval?v=NOVQDySGO89wzMzO5x7mWS4C_uAdynpZe_Lk2y-xEM41"></script>


	<script> $(function() {
	$('input[type=number]').on('keydown', function(e) {
		if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
			// Allow: Ctrl+A
		   (e.keyCode == 65 && e.ctrlKey === true) ||
			// Allow: home, end, left, right
		   (e.keyCode >= 35 && e.keyCode <= 40)) {
			// let it happen, don't do anything
			return;
		}
		// Ensure that it is a number and stop the keypress
		if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
			e.preventDefault();
		}
	});
});</script>
</body>


