@model Organization
@{
    ViewData["Title"] = "Edit Organization";
}

<body>
    <div class="container body-content">
        <h2>Organizations</h2>
        <h4>Edit Organization</h4>
        <hr />

        <!--form-->
        <form asp-controller="Organization" asp-action="Edit" method="post">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2">Organization Name*</label>
                    <input asp-for="OrganizationName" class="col-md-10 form-control" />
                    <span asp-validation-for="OrganizationName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Program Number</label>
                    <input asp-for="ProgramNumber" class="col-md-10 form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Contact 1 Name</label>
                    <input asp-for="ContactName1" class="col-md-10 form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Contact 1 Email</label>
                    <input asp-for="ContactEmail1" class="col-md-10 form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Contact 1 Phone</label>
                    <input asp-for="ContactPhone1" class="col-md-10 form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Contact 2 Name</label>
                    <input asp-for="ContactName2" class="col-md-10 form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Contact 2 Email</label>
                    <input asp-for="ContactEmail2" class="col-md-10 form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Contact 2 Phone</label>
                    <input asp-for="ContactPhone2" class="col-md-10 form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Active</label>
                    <div class="checkbox col-md-10">
                        <input asp-for="Active" />
                    </div>
                </div>

                @Html.Hidden("OrganizationId")
                <!--submit-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Edit" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>

        <!--back-->
        <div>
            @Html.ActionLink("Back", "Index", "Organization")
        </div>

    </div>
</body>