<!--connects to student model-->
@model Student
<!--asp-for="FirstName" tag will put the input into the FirstName variable of student model and replaces id="FirstName" name="FirstName" type="text" value=""-->

<body>
    <div class="container body-content">
        <h2>Student Roster</h2>

        <!--form-->
        <form asp-controller="Student" asp-action="Create" method="post">
            <div class="form-horizontal">
                <h4>Create New</h4><hr />

                <!--FirstName-->
                <div class="form-group">
                    <label class="control-label col-md-2">First Name</label>
                    <div class="col-md-10">
                        <input asp-for="FirstName" class="form-control text-box single-line" />
                    </div>
                </div>

                <!--LastName-->
                <div class="form-group">
                    <label class="control-label col-md-2">Last Name</label>
                    <div class="col-md-10">
                        <input asp-for="LastName" class="form-control text-box single-line" />
                    </div>
                </div>

                <!--Ethnicity-->
                <div class="form-group">
                    <label class="control-label col-md-2">Ethnicity</label>
                    <div class="col-md-10">
                        <select asp-for="Ethnicity" asp-items="ViewBag.SelectLists.EthnicityList" class="form-control"></select>
                    </div>
                </div>

                <!--SchoolName-->
                <div class="form-group">
                    <label class="control-label col-md-2">School</label>
                    <div class="col-md-10">
                        <select asp-for="SchoolName" class="form-control" asp-items=ViewBag.Selectlists.SchoolList></select>
                    </div>
                </div>

                <!--Facility-->
                <div class="form-group">
                    <label class="control-label col-md-2">KU Site</label>
                    <div class="col-md-10">
                        <select asp-for="Facility" class="form-control" asp-items=ViewBag.SelectLists.SiteList></select>
                    </div>
                </div>

                <!--SchoolGrade-->
                <div class="form-group">
                    <label class="control-label col-md-2">Grade</label>
                    <div class="col-md-10">
                        <select asp-for="SchoolGrade" class="form-control" asp-items=ViewBag.SelectLists.SchoolGradeList></select>
                    </div>
                </div>

                <!--Gender-->
                <div class="form-group">
                    <label class="control-label col-md-2" for="Gender">Gender</label>
                    <div class="col-md-10">
                        <select asp-for="Gender" class="form-control" asp-items=ViewBag.SelectLists.GenderList></select>
                    </div>
                </div>

                <!--Income-->
                <div class="form-group">
                    <label class="control-label col-md-2">Household Income</label>
                    <div class="col-md-10">
                        <select asp-for="Income" class="form-control" asp-items=ViewBag.SelectLists.IncomeList></select>
                    </div>
                </div>

                <!--Lunch-->
                <div class="form-group">
                    <label class="control-label col-md-2">Free Lunch</label>
                    <div class="col-md-10">
                        <select asp-for="Lunch" class="form-control" asp-items=ViewBag.SelectLists.LunchList></select>
                    </div>
                </div>

                <!--EnrolledYear-->
                <div class="form-group">
                    <label class="control-label col-md-2">Enrollment Year (e.g. 1995)</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" asp-for="EnrolledYear" type="number" />
                    </div>
                </div>

                <!--EnrolledSemester-->
                <div class="form-group">
                    <label class="control-label col-md-2">Enrollment Semester</label>
                    <div class="col-md-10">
                        <select asp-for="EnrolledSemester" class="form-control" asp-items=ViewBag.SelectLists.SemesterList></select>
                    </div>
                </div>

                <!--AgeAtEnrollment-->
                <div class="form-group">
                    <label class="control-label col-md-2">Age at Enrollment</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" asp-for="AgeAtEnrollment" type="number" />
                    </div>
                </div>

                <!--Birthday-->
                <div class="form-group">
                    <label class="control-label col-md-2">Birthday</label>
                    <div class="col-md-10">
                        <input class="date" asp-for="Birthday" />
                    </div>
                </div>

                <!--Active-->
                <div class="form-group">
                    <label class="control-label col-md-2">Active</label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            <input checked="checked" class="check-box" asp-for="Active" type="checkbox" />
                        </div>
                    </div>
                </div>

                <!--submit-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" formmethod="post" />
                    </div>
                </div>
            </div>
        </form>

        <!--back-->
        <div>
            <a href=@ViewBag.returnUrl>Back</a>
        </div>
    </div>
</body>