@model Student

<body>
    <div class="container body-content">
        <h2>Student Roster</h2>

        <h4>@Model.FirstName @Model.LastName</h4>
        <hr>

        <div class="student-info">
            <h5>@Model.Ethnicity</h5>
        </div>
                
        <!--Back, just like brower back button so search settings are preserved-->
        <div>
            @Html.ActionLink("Back to Students", "Index", "Student")
        </div>
    </div>
</body>