@model ApplicationUser
@{
    ViewData["Title"] = "Add Staff";
}

<body>
    <div class="container body-content">
        <h2>Add Staff</h2>
    </div>
    <form asp-controller="Staff" asp-action="Add" method="post" class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-md-2">First Name</label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control text-box single-line" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Last Name</label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control text-box single-line" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">UserName</label>
            <div class="col-md-10">
                <input asp-for="UserName" class="form-control text-box single-line" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Email</label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control text-box single-line" />
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-2">Password</label>
            <div class="col-md-10">
                <input type="password" name="password" class="form-control text-box single-line" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Site</label>
            <div class="col-md-10">
                <select asp-for="Site" class="form-control" asp-items=ViewBag.SelectLists.SiteList></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Role</label>
            <div class="col-md-10">
                <select asp-for="Role" class="form-control" asp-items=ViewBag.SelectLists.RoleList></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Active</label>
            <div class="col-md-10">
                <select asp-for="Active" class="form-control" asp-items=ViewBag.SelectLists.ActiveList></select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" formmethod="post" class="btn btn-default">Add</button>
            </div>
        </div>
    </form>
    @Html.ActionLink("Back", "Index", "Staff")
</body>
