@model ApplicationUser
@{
    ViewData["Title"] = "Add Staff";
}

<body>
    <div class="container body-content">
        <h2>Staff Directory</h2>
        <h4>Add Staff</h4>
        <hr />

        <form asp-controller="Staff" asp-action="Add" method="post" class="form-horizontal">

            <div class="form-group">
                <label class="control-label col-md-2">First Name</label>
                <input asp-for="FirstName" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Last Name</label>
                <input asp-for="LastName" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">UserName</label>
                <input asp-for="UserName" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Email</label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Password</label>
                <input type="password" name="password" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Site</label>
                <select asp-for="Site" class="form-control" asp-items=ViewBag.SelectLists.SiteList></select>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Role</label>
                <select asp-for="Role" class="form-control" asp-items=ViewBag.SelectLists.RoleList></select>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Active</label>
                <select asp-for="Active" class="form-control" asp-items=ViewBag.SelectLists.ActiveList></select>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" formmethod="post" class="btn btn-default">Add</button>
                </div>
            </div>
        </form>
        @Html.ActionLink("Back", "Index", "Staff")
    </div>
</body>
