

<body>
 

    <div class="container body-content">
        <h2>School Districts</h2>

        <!--form-->
        <form action="/SchoolDistricts/Create" method="post">
            <div class="form-horizontal">
                <h4>Create New</h4><hr/>

                <!--name-->
                <div class="form-group">
                    <label class="control-label col-md-2" for="Name">Name</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" id="Name" name="Name" type="text" value=""/>
                    </div>
                </div>

                <!--active-->
                <div class="form-group">
                    <label class="control-label col-md-2" for="IsActive">Active</label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            <input class="check-box" id="IsActive" name="IsActive" type="checkbox" value="true"/>
                            <input name="IsActive" type="hidden" value="false"/>
                        </div>
                    </div>
                </div>

                <!--submit-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default"/>
                    </div>
                </div>
            </div>
        </form>

        <!--back-->
        <div>
            @Html.ActionLink("Back to List", "SchoolDistricts", "Data")
        </div>
        
    </div>
</body>