<head ng-app="kidsu">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outcome Measurements - Kids-U Data Entry Application</title>

	<link href="/Content/css/bootstrap.css" rel="stylesheet" />
   	<link href="/Content/css/Site.css" rel="stylesheet" />
	<link href="/Content/css/bootstrap-datepicker3.css" rel="stylesheet" />
	
	<script src="/Scripts/site.js"></script>
</head>

<body>
    <!--navigation-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Kids-U Data Entry", "Directory", null, null, new{@class = "navbar-brand"})
            </div>

            <!--links-->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Student Enrollment", "Students")</li>
                    <li>@Html.ActionLink("Outcomes", "OutcomeMeasurements")</li>
                    <li>@Html.ActionLink("Report Cards", "ReportCardRecords")</li>
                </ul>

                <!--logout-->
                <form action="/Login/LogOff" class="navbar-right" id="logoutForm" method="post">
                    <input name="__RequestVerificationToken" type="hidden" value=""/>
                    <ul class="nav navbar-nav navbar-right">
	                    <li><a>Hello admin@kids-u.org!</a></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <h2>Outcome Measurements</h2>

        <!--search/filter/sort-->
        <div class="tabletop">
	        <div id="left">
		        <a href="/OutcomeMeasurements/Create">Create New</a>
		        <a href="/OutcomeMeasurements/Export">Export</a>

                <!--sort-->
		        <select>
				    <option value="1">Sort by...</option>
				    <option value="2">to-do</option>
			    </select>
	        </div>

            <!--search-->
	        <div id="search">
		        <input type="text" placeholder="Search...">
                <button type="button" onclick="showHide()">Adv.</button>
		        <button type="submit">Go</button>
	        </div>
        </div>
        <!--advanced-->

        <!--table-->
        <table class="table">
            <tr>
                <th>School Year</th>
                <th>Facility Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Grade</th>
                <th>Math Pre-Test</th>
                <th>Math Post-Test</th>
                <th>Language Pre-Test</th>
                <th>Language Post-Test</th>
                <th>Reading Pre-Test</th>
                <th>Reading Post-Test</th>
                <th>Reading Fluency Test 1</th>
                <th>Reading Fluency Test 2</th>
                <th>Reading Fluency Test 3</th>
                <th>Self-Esteem Pre-Test</th>
                <th>Self-Esteem Post-Test</th>
                <th></th>
            </tr>
            <!--entries-->
        </table>
        <hr/>

		<footer>
			Site Built at <a href="http://www.dallasgivecamp.org">Dallas GiveCamp</a> | Hosting Donated by <a href="http://www.everleap.com">Everleap</a>
		</footer>
    </div>
</body>