<!DOCTYPE html>
<html>
<head ng-app="kidsu">
	<meta charset="utf-8" />
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Index - Kids-U Data Entry Application</title>

	<link href="/Content/css/bootstrap.css" rel="stylesheet" />
   	<link href="/Content/css/Site.css" rel="stylesheet" />
	<link href="/Content/css/bootstrap-datepicker3.css" rel="stylesheet" />

	<script src="/Scripts/search.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
    	<div class="container">
        	<div class="navbar-header">
    			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
            	</button>
            	@Html.ActionLink("Kids-U Data Entry", "Directory", null, null, new{@class = "navbar-brand"})
        	</div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Student Enrollment", "Students")</li>
                    <li>@Html.ActionLink("Outcomes", "OutcomeMeasurements")</li>
                    <li>@Html.ActionLink("Report Cards", "ReportCardRecords")</li>
                </ul>
				<form action="/Login/LogOff" class="navbar-right" id="logoutForm" method="post">
					<input name="__RequestVerificationToken" type="hidden" value="hVHGkUiz4lH7TQUUuEGEhaHDDq0QbY22toHLKdoRghXHVNH0z_2n3C-7rh-ZknE4vTLgwUz8xMAxiYvXRGFCweMEdKF3lSXmxdS82RqjnKslhgnv3fdR_MaDpvK1Uv2_0" />    
					<ul class="nav navbar-nav navbar-right">
	    				<li><a>Hello diana@kids-u.org!</a></li>
       					<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    				</ul>
				</form>
        	</div>
        </div>
    </div>
<div class="container body-content">
	<h2>Student Roster</h2>

<div class="tabletop">
	<div id="left">
		<a href="x">Create New</a>
		<a href="x">Export</a>
		<select>
				<option value="0">Sort by...</option>
				<option value="1">First Name A-Z</option>
				<option value="2">First Name Z-A</option>
				<option value="3">Last Name A-Z</option>
				<option value="4">Last Name Z-A</option>
				<option value="5">Enrolled Ascending</option>
				<option value="6">Enrolled Descending</option>
				<option value="7">Income Ascending</option>
				<option value="8">Income Descending</option>
				<option value="9">School A-Z</option>
				<option value="10">School Z-A</option>
				<option value="11">Kids-U Site A-Z</option>
				<option value="12">Kids-U Site Z-A</option>
				<option value="13">Grade Ascending</option>
				<option value="14">Grade Descending</option>
			</select>
	</div> 
	<div id="search">
		<input type="text" placeholder="Search...">
		<button type="button" onclick="showHide()">Adv.</button>
		<button type="submit">Go</button>
	</div>
</div>

<div class="expand" id="advancedSearch">
	<div id="ethnicity">
		Ethnicity:<br>
		<select> 
            <option value="African American"> African American </option>
            <option value="Asian">Asian</option>
            <option value="Hispanic/Latino">Hispanic/Latino</option>
            <option value="Caucasian/Other">Caucasian/Other</option>
            </select>
	</div> 
	<div id="gender">
		Gender:<br>
		<input type="radio" name="gender">Male<br>
		<input type="radio" name="gender">Female
	</div>
	<div id="enrolled">
		Enrolled:<br>
		<input type="number" name="enrollmentAge" placeholder="Enter in enrollment age"> </input>
	</div>
	<div id="income">
		Income:<br>
		<select>
            <option value="0-20">< $20K</option>
            <option value="20-25">$20K - $25K</option>
            <option value=">25">> $25K</option>
        </select> <br>
	</div>
	<div id="lunch">
		Free Lunch:<br>
		<input type="radio" name="lunch">Yes<br>
		<input type="radio" name="lunch">No
	</div>
	<div id="school">
		School:<br>
        <input type="text" name="schoolName" placeholder="Enter school name"></input>
	</div>
	<div id="facility">
		Facility:<br>
		<input type="text" name="facilityName" placeholder="Enter facility name"></input>
	</div>
	<div id="grade">
		School Grade:<br>
		<select>
        <option value="K">K </option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        </select>
	</div>
</div>

<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        
        <th>
            Kids-U Site
        </th>
        <th>
            Grade
        </th>
      
        <th></th>
    </tr>    
</table>
<hr/>
<footer>
	Site Built at <a href="http://www.dallasgivecamp.org">Dallas GiveCamp</a> | Hosting Donated by <a href="http://www.everleap.com">Everleap</a>
</footer>
</div>

<script src="/bundles/jquery?v=FVs3ACwOLIVInrAl5sdzR2jrCDmVOWFbZMY6g6Q0ulE1"></script>

<script src="/bundles/bootstrap?v=XFQ6ekRmUKkC5q116_4vvIKt0mhNOzNmfxA0NYVcPDY1"></script>

<script src="/Scripts/jquery.bootstrap.wizard.min.js"></script>

<script> $(function() {
$('input[type=number]').on('keydown', function(e) {
	if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
		// Allow: Ctrl+A
	   (e.keyCode == 65 && e.ctrlKey === true) ||
		// Allow: home, end, left, right
	   (e.keyCode >= 35 && e.keyCode <= 40)) {
		// let it happen, don't do anything
		return;
	}
	// Ensure that it is a number and stop the keypress
	if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
		e.preventDefault();
	}
});
});</script>
</body>
</html>

