@model OutcomeMeasurement
@{
    ViewData["Title"] = "New Outcome Measurement";
}

<body>
    <div class="container body-content">
        <h2>Outcome Measurements</h2>
        <h4>Create Outcome Measurement</h4>
        <hr />

        <form asp-controller="OutcomeMeasurement" asp-action="Add" method="post">
            <div class="form-horizontal">
                <!--Sets StudentId of Student, allows for choosing any student-->
                <div class="form-group">
                    <label class="control-label col-md-2">Student</label>
                    <select asp-for="Student.StudentId" class="form-control" asp-items="@(new SelectList(ViewBag.StudentList, "Id", "Name", ViewBag.StudentId))"></select>
                </div>

                <!--SchoolGrade-->
                <div class="form-group">
                    <label class="control-label col-md-2">School Grade</label>
                    <select asp-for="ReportSchoolGrade" class="form-control" asp-items=ViewBag.SelectLists.SchoolGradeList></select>
                </div>

                <!--EnrolledSemester-->
                <div class="form-group">
                    <label class="control-label col-md-2">Semester</label>
                    <select asp-for="ReportSchoolSemester" class="form-control" asp-items=ViewBag.SelectLists.SemesterList></select>
                </div>

                <!--MATH-->
                <h4>Math</h4><hr />
                <div class="form-group">
                    <label class="control-label col-md-2">Pre-test: </label>
                    <input asp-for="MathPreTest" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Post-test: </label>
                    <input asp-for="MathPostTest" class="form-control" />
                </div>

                <!--Language Arts-->
                <h4>Language Arts</h4><hr />
                <div class="form-group">
                    <label class="control-label col-md-2">Pre-test: </label>
                    <input asp-for="LanguagePreTest" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Post-test: </label>
                    <input asp-for="LanguagePostTest" class="form-control" />
                </div>

                <!--Reading-->
                <h4>Reading</h4><hr />
                <div class="form-group">
                    <label class="control-label col-md-2">Pre-test: </label>
                    <input asp-for="ReadingPreTest" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Post-test: </label>
                    <input asp-for="ReadingPostTest" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Fluency 1: </label>
                    <input asp-for="ReadingFluencyTest" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Fluency 2: </label>
                    <input asp-for="ReadingFluencyTest2" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Fluency 3: </label>
                    <input asp-for="ReadingFluencyTest3" class="form-control" />
                </div>

                <!--Self Esteem-->
                <h4>Self-Esteem</h4><hr />
                <div class="form-group">
                    <label class="control-label col-md-2">Pre-test: </label>
                    <input asp-for="SelfEsteemPreTest" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Post-test: </label>
                    <input asp-for="SelfEsteemPostTest" class="form-control" />
                </div>

                <input type="hidden" asp-for="Student.StudentId" value="@ViewBag.StudentId" />
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

                <!--submit-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" formmethod="post" />
                    </div>
                </div>
            </div>
        </form>

        <!--Back-->
        @if (ViewBag.StudentId == null)
        {
            <a href=@ViewBag.returnUrl>Back</a>
        }
        else
        {
            <div>@Html.ActionLink("Back", "View", "OutcomeMeasurement", new { ViewBag.StudentId, ViewBag.returnUrl })</div>
        }
    </div>
</body>