<!--        This code was directly copied and pasted from inspect element. -->
<!-- NOTE:  It has not been cleaned up or edited in any way.               -->
<!--        This may or may not work                                       -->

<head ng-app="kidsu">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit - Kids-U Data Entry Application</title>

	<link href="/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="/Content/css/Site.css" rel="stylesheet" />
    <link href="/Content/css/bootstrap-datepicker3.css" rel="stylesheet" />

    <script src="/Scripts/site.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Kids-U Data Entry", "Directory", "Home", null, new{@class = "navbar-brand"})
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Student Enrollment", "Students", "Data")</li>
                    <li>@Html.ActionLink("Outcomes", "OutcomeMeasurements", "Data")</li>
                    <li>@Html.ActionLink("Report Cards", "ReportCardRecords", "Data")</li>
                </ul>
                <form action="/Login/LogOff" class="navbar-right" id="logoutForm" method="post"><input name="__RequestVerificationToken" type="hidden" value="qcZ-plgeHwDgGNV5GKaJ8jvwleQ9lhCqu61f6QBlfgOjsdUKDaD9O38JSPtEr1xQ2kZ4G2m5nb-BVnGEhs1bqNh1TwCqrzQKO96VpYebwKTmnGCzJWwYQMrYci6imRwF0" />    <ul class="nav navbar-nav navbar-right">
	    <li><a>Hello diana@kids-u.org!</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
</form>
            </div>
        </div>
    </div>
    <div class="container body-content">
        


<h2>Edit</h2>


<form action="/Organizations/Edit/1" method="post"><input name="__RequestVerificationToken" type="hidden" value="HLilWMddNPAqxpnTkCprQ-qJvWwmhfZiOrr41KEkRROvZnFWkUCNO0sLG7eAGCiKJ5lXE3OjKDXaZ-LilSvnvBJvZOF8Zhz6WLSmo-FN7oV3Nw5BUFMg2nbNZ2C3lmbA0" />    <div class="form-horizontal">
        <h4>Organization</h4>
        <hr />
        
        <input data-val="true" data-val-number="The field OrganizationId must be a number." data-val-required="The OrganizationId field is required." id="OrganizationId" name="OrganizationId" type="hidden" value="1" />

        <div class="form-group">
            <label class="control-label col-md-2" for="Name">Name</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-maxlength="The field Name must be a string or array type with a maximum length of &#39;255&#39;." data-val-maxlength-max="255" data-val-minlength="The field Name must be a string or array type with a minimum length of &#39;5&#39;." data-val-minlength-min="5" data-val-required="The Name field is required." id="Name" name="Name" type="text" value="CitySquare" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ProgramNumber">ProgramNumber</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-maxlength="The field ProgramNumber must be a string or array type with a maximum length of &#39;255&#39;." data-val-maxlength-max="255" data-val-minlength="The field ProgramNumber must be a string or array type with a minimum length of &#39;1&#39;." data-val-minlength-min="1" data-val-required="The ProgramNumber field is required." id="ProgramNumber" name="ProgramNumber" type="text" value="057-0451" />
                <span class="field-validation-valid text-danger" data-valmsg-for="ProgramNumber" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="IsActive">IsActive</label>
            <div class="col-md-10">
                <div class="checkbox">
                    <input checked="checked" class="check-box" data-val="true" data-val-required="The IsActive field is required." id="IsActive" name="IsActive" type="checkbox" value="true" /><input name="IsActive" type="hidden" value="false" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="IsActive" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a href="/Organizations">Back to List</a>
</div>


        <hr />
		<footer>
			Site Built at <a href="http://www.dallasgivecamp.org">Dallas GiveCamp</a> | Hosting Donated by <a href="http://www.everleap.com">Everleap</a>
		</footer>
    </div>
</body>