

<body>


    <div class="container body-content">

            <h2>Details</h2>

            <div class="panel-default">

            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">Student Information</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-6 col-sm-2 text-center">
                                <h4>Full Name</h4>

                                <span class="label label-danger">David Abass</span>
                            </div>
                            <div class="col-xs-6 col-sm-2 text-center">
                                <h4>Ethnicity</h4>

                                <span class="label label-danger">African American</span>
                            </div>
                            <div class="col-xs-6 col-sm-2 text-center">
                                <h4>Gender</h4>

                                <span class="label label-danger">Male</span>
                            </div>
                            <div class="col-xs-6 col-sm-2 text-center">
                                <h4>Enrolled</h4>

                                <span class="label label-danger">6 years old</span>
                            </div>
                            <div class="col-xs-6 col-sm-2 text-center">
                                <h4>Income</h4>
                                <span class="label label-danger">&gt; $25k</span>
                            </div>
                            <div class="col-xs-6 col-sm-2 text-center">
                                <h4>Lunch</h4>
                                <span class="label label-danger">Free Yes</span>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">School/Grade Information</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-6 col-sm-4 text-center">
                                <h4>School</h4>

                                <span class="label label-danger s">Forest Lane Academy</span>
                            </div>
                            <div class="col-xs-6 col-sm-4 text-center">
                                <h4>Kid's U Facility</h4>

                                <span class="label label-danger">Park9690</span>
                            </div>
                            <div class="col-xs-6 col-sm-4 text-center">
                                <h4>School Grade</h4>

                                <span class="label label-danger">K</span>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <p>
                <a href="">Edit</a> |
                <a href="">Back to List</a>
            </p>


            
        </div>

        <script src="/bundles/jquery?v=FVs3ACwOLIVInrAl5sdzR2jrCDmVOWFbZMY6g6Q0ulE1"></script>

        <script src="/bundles/bootstrap?v=XFQ6ekRmUKkC5q116_4vvIKt0mhNOzNmfxA0NYVcPDY1"></script>

        <script src="/Scripts/jquery.bootstrap.wizard.min.js"></script>

        <script>
            $(function () {
                $('input[type=number]').on('keydown', function (e) {
                    if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                        // Allow: Ctrl+A
                        (e.keyCode == 65 && e.ctrlKey === true) ||
                        // Allow: home, end, left, right
                        (e.keyCode >= 35 && e.keyCode <= 40)) {
                        // let it happen, don't do anything
                        return;
                    }
                    // Ensure that it is a number and stop the keypress
                    if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                        e.preventDefault();
                    }
                });
            });</script>
</body>
