@model District


<body>


    <div class="container body-content">
        <h2>School Districts</h2>

        <!--form-->
        <form asp-controller="District" asp-action="CreateDistrict" method="post">
            <div class="form-horizontal">
                <h4>Create New</h4><hr />

                <!--name-->
             <div class="form-group">
                <label class="control-label col-md-2">District Name</label>
                <div class="col-md-10">
                    <input asp-for="DistrictName" class="form-control text-box single-line" />
                </div>
             </div>

                <!--active-->
             <div class="form-group">
                 <label class="control-label col-md-2">Active</label>
                 <div class="col-md-10">
                     <div class="checkbox">
                         <input checked="checked" class="check-box" asp-for="Active" type="checkbox" />
                     </div>
                 </div>
             </div>

                <!--submit-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>

        <!--back-->
        <div>
            @Html.ActionLink("Back to List", "Index", "District")
        </div>

    </div>
</body>