
<body>


    <div class="container body-content">
        <h2>School Districs</h2>

        <!--search/filter/sort-->
        <div class="tabletop">
            <div id="left">
                @Html.ActionLink("Create New", "CreateSchoolDistricts", "Create")
            </div>
        </div>

        <!--table-->
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Active</th>
                <th></th>
            </tr>
            <!--entries-->
        </table>
      

		
    </div>
</body>