<

<body>


    <div class="container body-content">
        <h2>Program/Facility Site Management</h2>

        <!--search/filter/sort-->
        <div class="tabletop">
            <div id="left">
                @Html.ActionLink("Create New", "CreateSites", "Create")
            </div>
        </div>

        <!--table-->
        <table class="table">
            <tr>
                <th>Facility Name</th>
                <th>Active</th>
                <th></th>
            </tr>
            <!--entries-->
        </table>
        

    </div>
</body>