
<body>
 

    <div class="container body-content">
        <h2>Staff Directory and Management</h2>

        <!--search/filter/sort-->
        <div class="tabletop">
            <div id="left">
                @Html.ActionLink("Create New", "CreateStaff", "Create")
            </div>
        </div>

        <!--table-->
        <table class="table">
            <tr>
                <th>Assigned Site</th>
                <th>Email</th>
                <th>Role</th>
                <th>Active</th>
                <th></th>
            </tr>
            <!--entries-->
        </table>
        

		
    </div>
</body>

